<div class="comments">
  <hr>
  <% if comments.any? %>
    <% comments.includes(:user).each do |comment| %>
      <div>
        <div>
          <p>
            <b><%= comment.user.name %></b>
          </p>
          <p class="comment">
            <%= comment.text %>
          </p>
        </div>
      </div>
        <%= button_to "Delete", user_comment_path(comment.post_id, comment), method: :delete %>
    <% end %>
  <% else %>
    <p class="comment">No comments to display.</p>
  <% end %>
</div>