<h1>Here is a post by username</h1>

<div class="callout large banner">
  <div class="grid-x grid-padding-x">
    <%= render 'layouts/alerts' if notice %>
    <div class="cell small-12">
        <%= link_to "< Posts", user_posts_path %>
    </div>
  </div>
</div>

<%= render partial: "post_info", locals: { post: @post } %>